#container{
    width: 800px;
    margin: auto;

}
#container img{
    width: 80px;
}
#menu{
    display: inline-flex;
    margin-left: 200px;
    padding-top: 2px;
    color: rgb(16, 122, 117);
}
#profile{
    display: inline-block;
    margin-left: 40px;
    color: rgb(155, 30, 30);
}
#status img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
#content h1{
    margin-left: 400px;
    color: rgb(12, 13, 14);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#text{
    font-size: 20px;
}
#features img{
    width: 500px;
    height: 300px;
} 
#social img {
    padding-bottom: 20px;
    margin-left: 800px;
    display:block;
    width: 50px;
    border-radius: 300px;
}
#social h5{
    padding-bottom: 0.1px;
    margin-left: 880px;
}
footer{
    background-color: cadetblue;
    color: cornsilk;
}